<div class="container">

    <div class="row">
        <div class="col-md-6 center-text">
            <h2 class="center-text">My Uploads</h2>
            <hr>
            <% poems.forEach((poem) => { %>
                <a href="/poem/<%= poem.id %>">
                    <p>
                        <%= poem.title %>
                    </p>
                </a>
                <% }) %>
        </div>

        <div class="col-md-6 center-text">
            <h2>My Encodings</h2>
            <hr>
            <% encodings.forEach((encoding) => { %>
                <a href="/poem/<%= encoding.poem_id %>/encoding/<%= encoding.encoded_id %>">
                    <p>[
                        <%= moment.utc(encoding.date_posted).utcOffset(-1*(new Date().getTimezoneOffset())).format('MM/DD/YYYY') %>]
                            <%= encoding.title %>
                    </p>
                </a>
                <% }) %>
        </div>
    </div>


</div>
