<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Upload a Poem
				</br>
			</h1>
		</div>
	</div>
	<% if (poem_check) { %>
		<div>
			Did you mean
			<a href="/poem/<%= poem_check.id %>">
				<%= poem_check.title %> by
					<%= poem_check.author %>
			</a>?
		</div>
		<% } %>

			<form id="submit-poem" method="POST" action="/submit">
				<div class="row">
					<div class="col-md-6">
						<div class="col-s">
							<label for="uploadtitle">Title</label>
							<input class="form-control" id="uploadtitle" type="text" name="title" value="<%= title %>" required autofocus>
						</div>
					</div>

					<div class="col-md-6">
						<div class="col-s-2">
							<label for="uploadtitle">Author</label>
							<input class="form-control" id="uploadtitle" type="text" name="author" value="<%= author %>" required>
						</div>
					</div>
				</div>

				<div class="row top-buffer">
					<div class="col-md-6">
						<div class="col-s">
							<label for="uploadtitle">Genre</label>
							<input class="form-control" id="uploadtitle" type="text" name="genre" value="<%= genre %>">
						</div>
					</div>
				</div>

				<div class="row top-buffer">
					<div class="col-md-6">
						<div class="form-group">
							<label for="inputlg">Paste Your Text Here</label>
							<textarea class="form-control input-lg" id="inputlg" type="text" rows="16" name="lines" required><%= lines %></textarea>
						</div>
					</div>
					<div class="col-md-6 center-text">
						</br>
						</br>
						</br>
						</br>
						<div class="top-buffer-but">
							<button type="submit" class="btn btn-lg btn-primary" id="submitupload">Submit</button>
						</div>
						</br>
						<div class="top-buffer-but">
							<button type="submit" class="btn btn-lg btn-primary" id="submitandencode" formaction='/submitencode'>Submit and Encode</button></a>
						</div>
					</div>
				</div>
			</div>

<!-- beforeYouBeginModal -->

<div class="modal show" id="beforeYouBeginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">Before You Begin</h4>
      </div>
      <div class="modal-body">
        <center>
          <p class="text-left">You may only upload poetry in the public domain, per the <a href="http://www.endlineproject.org/tos" target="_blank">Terms of Service</a>. Try <a href="https://www.gutenberg.org/wiki/Poetry_(Bookshelf)" target="_blank">Project Gutenberg’s Poetry Bookshelf</a> as a starting point or browse the <a href="https://www.poetryfoundation.org/" target="_blank">Poetry Foundation</a> for works that fit this criteria. You may also want to search the site to see if another user has already uploaded your poem.</p>
        </center>
        <div class="modal-footer">
          <center>
            <button type="button" class="btn btn-default" data-dismiss="modal">Dismiss</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
